In [ ]:
import pandas as pd

url = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(url)

In [ ]:
dados.head()
maps = {
    "home": "inicio",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
dados = dados.rename(columns = maps)
dados.head()

   inicio  como_funciona  contato  comprou
0       1              1        0        0
1       1              1        0        0
2       1              1        0        0
3       1              1        0        0
4       1              1        0        0

In [ ]:
x = dados[["inicio", "como_funciona", "contato"]]
y = dados["comprou"]
x.tail()

    inicio  como_funciona  contato
94       0              0        1
95       1              1        1
96       0              0        1
97       0              1        0
98       0              0        0

In [ ]:
dados.shape

(99, 4)

In [ ]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]
teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

In [ ]:
from sklearn.model_selection import train_test_split
seed = 20
treino_x, teste_x, treino_y, teste_y =train_test_split(x, y, random_state= seed, test_size=0.25, stratify=y)
teste_x.shape

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y.values.ravel())
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

In [ ]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64